*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navegacion{
    width: 1000px;
    margin: 0px auto;
    background: #250E47;
    width: 100%;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #FFF4F4;
    text-decoration: none;
    text-align: right;
}

.menu li a:hover{
    color: #c4c4c4;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background: #7E64BE;
    width: 120%;
    display: none;
}

.submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
}